/** Login form **/
.loginform .row {margin-top: 50px;}


.size-20 {font-size: 20px}


tr:hover {
    background: #B9B7B7;
}

body {
  background-color: #F5F5F5;
}

.issue_card {
  background-color: white;
}
.divider {
  margin: 15px 0;
}
.comentario-block {
  display: none;
  padding: 25px;
  width: 75%;
  margin:auto;
}
