/** Login form **/
.loginform .row {margin-top: 50px;}


.size-20 {font-size: 20px}


tr:hover {
    background: #B9B7B7;
}

body {
  background-color: #F5F5F5;
}

.issue_card {
  background-color: white;
}
.divider {
  margin: 15px 0;
}
.comentario-block {
  display: none;
  padding: 25px;
  width: 75%;
  margin:auto;
}

.note-wrapper time {display:none;}
.note-wrapper .user{font-size: b}


.note-wrapper blockquote {
  background: #f9f9f9;
  border-left: 1px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.note-wrapper blockquote p {
  display: inline;
}
