<script id="notes-template" type="text/x-handlebars-template">
  <div class="note">
    <h2>{{title}}</h2>
    <span>{{name}}</span>
    <span{{created_on}}</span>
    <div class="body">
      {{{notes}}}
    </div>
  </div>
</script>
