<nav>
  <div class="nav-wrapper" style="background-color: #ffffff;  margin-top: 15px; box-shadow: 0px 0px 0px 0px!important;">
    <%= img '/images/svg/logoSmartRedmine.svg' , alt: 'NavBar', class: 'brand-logo right', style: 'margin: 15px 15px 0 0;' %>
  </div>
</nav>
