<% if !is_not_authenticated? %>
  <ul id="slide-out" class="side-nav">
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header">List of Projects<i class="material-icons right">arrow_drop_down</i> <i class="material-icons"> view_list</i></a>
          <div class="collapsible-body">
            <ul>
              <% projectlist.each do |project|  %>
                <li>
                  <a href="/projects/<%= project['project']['id'] %>"> <%= project['project']['name'] %></a>
                </li>
              <% end %>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li>
      <div class="divider"> </div>
    </li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header"><i class="material-icons right">arrow_drop_down</i>Field settings
            <i class="tooltipped material-icons" data-position="bottom" data-delay="50" data-tooltip="Drag and drop the fields to choose the order, and mark the fields you want to see.">settings</i></a>
          <div class="collapsible-body">
            <ul>
              <li>
                <%= erb :_files_order_form %>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
</ul>




  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
<% end %>
