  <div class="row">
    <div class="large-centered columns">
			<ul>
			  <% @projectlist.each do |project|  %>
			    <li>
            <a href="/projects/<%= project['project']['id'] %>">
              <%= project['project']['name'] %>
            </a>
          </li>
			  <% end %>
			</ul>
		</div>
	</div>
